{% extends '::index.html.twig' %}

{% block body -%}
    <h1>CrimeQuestionAnswers creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('crimequestionanswers') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
